body {
    font-family: "Arial";
}

section {
    display: flex;
}

[id^=slide] {
    height: 100vh;
    background-image: url('/corsi/sound-design-videogiochi/sfondo-slide.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.6;
    text-align: center;
    justify-content: center;

}

[id^=slide] h2 {
    text-align: center;
    font-size: 8vh;
    margin: 0.5em;
}

[id^=slide] h3 {
    justify-content:left;
    text-align: left;
    font-size: 8vh;
    margin: 0.5em;
}

[id^=slide] p {
    font-size: 4vh;
    margin-top: 0.5em;
}

[id^=slide] ul, li {
    text-align: left;
    font-size: 4vh;
    margin-top: 0.5em;
    margin-left: 3em;
}