body {
    margin: 0px;
    padding: 20px 10vw;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    color: #52576F;
}

pre {
    overflow-x: auto;
}

p {
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 28pt;
}

details {
    margin: 5px;
}

.Menu-Bar {
    min-height: 2.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.Pub-Hide {
    min-height: 2.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Pub-Hidden {
    display: flex;
    flex-direction: column;
}

.ListItem {
    margin-right: 3rem;
}

.LastItem {
    margin-left: auto;
}

.downloads {
    display: flex;
}

.text-page{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.6;
}

.project-page{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1rem;
    line-height: 1.6;
}

hr {
    margin-left: 0px;
    margin-right: 0px;
}

.footer{
    display: flex;
    flex-direction: row;
    line-height: 1.6;
    padding: 1rem;
}

/* PUBLICATIONS SECTION */

.publications{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.tag-phd{
    text-transform: uppercase;
    font-size: 11pt;
    color: red;
}

.tag-chapter{
    text-transform: uppercase;
    font-size: 11pt;
    color: green;
}

.tag-poster{
    text-transform: uppercase;
    font-size: 11pt;
    color: blue;
}

.tag-demo{
    text-transform: uppercase;
    font-size: 11pt;
    color: brown;
}

.tag-workshop{
    text-transform: uppercase;
    font-size: 11pt;
    color: orange;
}

.tag-article{
    text-transform: uppercase;
    font-size: 11pt;
    color: magenta;
}

.tag-performance{
    text-transform: uppercase;
    font-size: 11pt;
    color: plum;
}

.grid-of-pics {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    max-width: 500px;
  }

img {
    max-width: 100%;
    max-height: 100%;
}

.grid-of-social-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    text-align: center;
    align-content: center;
  }

/* --------------------- */

.lang-choice {
    background-color: white;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    color: #52576F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.missing-page {
    background-color: white;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    color: #52576F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.BibTex-Box {
    background-color: #fafafa;
    border-color: darkgray;
    border-radius: 1px;
    border-width: 0.01cm;
    border-style: solid;
}

#BibTex-Code {
    margin-left: 0.5rem;
}

#elegant-hyperlink { 
    color: #52576F;
}

#elegant-link { 
    color: #52576F;
    text-decoration: none;
    transition: transform 0.5s;
}

#elegant-link:visited {
    text-decoration: none;
}

#elegant-link:hover {
    text-decoration: underline;
    transform: scale(1.1);
    transition: transform 0.5s;
}

@media screen and (max-width: 800px) {
    .Menu-Bar {
        min-height: 2.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;   
    }

    .ListItem {
        margin-right: 0rem;
    }
    
    .LastItem {
        margin-left: 0rem;
    }

    .lang-choice {
        font-size: 26pt;
    }
}